* {
    /*indica que o tamanho pixels será a soma do conteúdo com a borda e o padding*/
    box-sizing: border-box;
}

body {
    /*define a margem de todo conteudo na página*/
    margin: 50px;
    /*cor da fonte*/
    color: lawngreen;
    /*alterar a cor do plano de fundo*/
    background-color: black;
}

h1 {
    /*tamanho da fonte*/
    font-size: 40px;
}

h2 {
    /*tamanho da fonte*/
    font-size: 20px;
}

h3 {
    /*tamanho da fonte*/
    font-size: 12px;
    /*determina a largura da área de conteúdo*/
    width: 800px;
}
